*{
    margin: 5px;
    padding: auto;
}
body{
    background-color: sandybrown;
}
h3{
    color: blue;
    font-size: 25px;
}
input{
    background-color: aqua;
    border: 100%;
    width: 25%;
}
button{
    background-color: violet;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover{
    background-color: blue;
}